* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: rgb(102, 101, 101);
  text-align: center;
}

.header {
  background-color: rgb(46, 44, 44);
  color: white;
  padding: 30px;
  border-radius: 50px;
  margin-bottom: 45px;
}

.header-text {
  display: inline-block;
}

.search {
  position: relative;
  left: 255px;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
}

.MovieList {
  display: inline-block;
}