* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: rgba(49, 41, 41, 0.561);
  text-align: center;
}

.header {
  margin-top: 30px;
  margin-bottom: 25px;
}

.MovieList {
  display: inline-block;
}